@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/abril-fatface-v12-latin-regular.woff2') format('woff2');
}

:root {
  --color-primary-hue: 204;
  --color-primary-sat: 100%;
  --color-primary-lit: 50%;
  
  --color-primary: hsl(var(--color-primary-hue), var(--color-primary-sat), var(--color-primary-lit));
  --color-primary-transparent: hsla(var(--color-primary-hue), var(--color-primary-sat), var(--color-primary-lit), var(--color-opacity, 0.49));
  --color-primary-darker: hsl(var(--color-primary-hue), var(--color-primary-sat), calc(var(--color-primary-lit) - 5%));
  --color-primary-darkest: hsl(var(--color-primary-hue), var(--color-primary-sat), calc(var(--color-primary-lit) - 10%)); 
  
  --color-shadow: hsla(var(--color-primary-hue), var(--color-primary-sat), 30%, 0.2);
  --color-content-bg: #fff;

  --font-serif: 'Abril Fatface', cursive;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  margin: 0;
}

h1 {
  font-size: 3em;
}

* {
  box-sizing: border-box;
}

.content-container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 1em 0;

  &__units {
    margin-left: 0.5em;
  }
}

.input {
  border-radius: 0.35em;
  background-color: transparentize($color: #000, $amount: .95);
  border: 1px solid transparentize($color: #000, $amount: .8);
  padding: 0.5em 0.75em;
  font-size: 1rem;
  appearance: none;
  width: 100%;
  max-width: 100%;

  &:focus {
    outline: none;
  }
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.radio-field {
  .label {
    display: inline-block;
    margin-left: 0.5em;
  }
}
